html  {
    box-sizing: border-box;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
  background-color: RGB(20, 1, 20);
  font-family: "Major Mono Display";
  color: RGB(205,95,250);

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: RGB(205,95,250) !important;
        border-color:RGB(205,95,250) !important;
    }

  .display-4 {
      color: RGB(205,95,250);}

    .custom-bottom-border {
  border-bottom: 2px solid #ffaab8; /* Example: 2px solid magenta border */
}

}


#splash {
  min-height: 1000px;
  background: url("/public/images/Pleasure\ Med\ Pink\ Party2\ copy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}
@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

